


html body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
  
}
  .generalbox{
    background: hsl(47, 88%, 63%) ;
    box-sizing: border-box;
    min-height: 100vh;
    width:auto;
    overflow-x: hidden;
    padding-bottom: 10px;
    display: block;
    overflow-y: auto;
    

  }

.thebiggestbox {
    box-sizing: border-box;
    width: 100%;
    min-height: 85%;
    background: hsl(47, 88%, 63%);
    margin-top: 5px;
   padding: 5px;
   display: block;
   margin-bottom: 15px;
   margin-top: 20px;
  
}
.whitebox {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 98%;
    padding-bottom: clamp(20px, 7vh, 50px);
    margin-bottom: auto;
 height: auto;
    margin: auto;
}

.image1{
    height: 15%;
    width: auto;
    margin: auto;
    border-radius: 8px;
    padding: 15px;
    display: block;
    
}
.image1 img{
    display:block;
    width: 95%;
   border-radius: 8px;
   padding-bottom: 15px;
   height: 100%;
   margin: auto;
}
.firstparagraph {
  font-size: 7vw;
  margin-left: 6%;
}
.avatar{
    display: flex;
    width: auto;
    height: 25px;
    gap: 19px;
    align-items: center;
    padding: 18px 0px;
    margin-left: 6%;
}
.avatar img {
    width:15vw;
    height: auto;
    

}
.avatar p{
    font-size:6.6vw;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(47, 88%, 63%);
    width: clamp(137px, 44%, 205px);
    height: 40%;
    border-radius: 11px;
    padding: 5px 5px;
    margin-left: 6%;
}
.button p{
  margin: 0;
  font-weight: bold;
  font-size: clamp(14px, 9vw, 45px);
}
.heading{
    margin-left: 19px;
    margin-top: 2px;
    font-size: 10vw;
    margin-left: 6%;
}
.secondparagraph{
    padding-right: 8px;
    text-overflow: clip;
    font-size: 7vw;
    margin-left: 6%;
}
.attribution { font-size: 5vw; text-align: center;
    background: white;;
     padding: 2vh;}
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width:700px) {
    .whitebox{
        max-width: 850px;
        padding-bottom: clamp(40px, 8vh, 100px);
    }
    .firstparagraph {
        font-size: clamp(10px, 7vw, 52px); 
      }
    .secondparagraph{
        font-size: clamp(12px, 10vw, 52px); 
    }
    .button{
        width: 30%;
        height:63px;
    }
    .button p {
        font-size: clamp(10px, 13vw, 48px);
    }
    
    .heading {
        font-size: clamp(34px, 20vw, 70px);
    }
    .avatar{

        gap: 25px;
 
    }
    .avatar p{
        font-size: clamp(34px, 7vw, 50px);
    }
    .avatar img{
        width: clamp(45px, 15vw, 85px);
        height: auto;
    }
    .attribution { font-size: clamp(10px, 7vw, 32px);
         text-align: center;
        background: white;;
         padding: 2vh;}
}